/* general css */

body {
  margin: 0px;
  font-size: 14px;
  font-family: Helvetica;
  text-align: center;
  background-color: black;
   font-family: 'Leto', sans-serif;
  color: white;
  background: black;
}

h1, h2, h3 {
  color: #252525;
  font-weight: lighter;
}

h1 {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color:white;
  margin-bottom: 50px;
  text-align: center;
}

h2 {
  font-size: 25px;
}

h3{
	font-size: 20px;
}


a {
  text-decoration: none;
  color: #01A1FD;
}

a:hover {
  color: #e84089;
}



/* buttons css */


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100px;
}

.avatar {
/*  border-radius: 50%;
  /*border: 2px solid grey;*/
  margin-right: 30px;
  margin-left: 30px;
  font-size: 30px;
  color : white;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.items {
  color: white;
  font-family: arial black;
  text-decoration: none;
  margin: 30px;
}


.items:hover {
  color: grey;
}


/* banner css */

#banner{
  text-align: center;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.6)),url("images/banner_image.jpg");
  background-size: cover;
  padding: 0px 30px 150px 30px;;
}

#banner h1, #banner h2 {
  color: white;
  text-shadow: 1px 1px 3px black;
  margin-bottom: 30px;
}

#banner h1 {
  font-size: 50px;
}

#banner h2 {
  font-size: 25px;
}

#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}


#modeldispo{
	margin-top: 20px;
	color: #b5b3b3;
}
/* card css*/


.card{
	height: 500px;
	border:2px #e78200 solid;
	text-align: center;
  	margin: 20px 0;
	font-size: 14px;
	padding: 15px;
	background: black;
	background-size:cover;
	background-position: center;
	box-shadow: 5px;
	padding: 30px;
	font-weight: lighter;

}

.card_propos {
	align-content: center;
	height: auto !important ;
}


.card img{
	border:2px #e78200 solid;
	border-radius: 3px;
	background-position: center;
	text-align: center;
	height: 150px;
  	object-fit: cover;
  	margin-bottom: 20px;
	}

.btn-success {

  background-color: orange;
  width: 200px;
  height: 50px;
  padding: 10px;
  margin:auto;
  text-align: center;
  border-radius: 10px;
  font-family:'Leto', sans-serif;
  font-size: 20px;
  font-weight: medium;
  color: white;
  opacity: 0.8;
  border:none;

}

.btn-success:hover{
	text-decoration: none;
	background-color: white;
	color:orange;
	opacity: 1;
}



/* section css*/

.section {
  padding: 100px;
}

.section h1, .section h3 {
  margin-bottom: 50px;
}

.section-white {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.6)),url("images/banner_bottom.jpg");
  background-size: cover;
}

#remise{
	color: #FFFFFF;
}



/* footer css*/

#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: grey;
}

#footer a {
  color: lightgrey;
  font-size: 40px;
}

#footer a:hover {
  color: white;
}


footer {
  margin-top: 20px;
  border-top: solid orange 2px;
}

.social{
  float: right;
  list-style-type: none;
  position: absolute;
}

.social li{
  display: inline;
}

.legal{
  text-align: center;
  margin-top: 10px;
}

.legal a{
  text-decoration: none;
  color: white;
  margin: 10px;
}

.legal a:hover{
  color: grey;
}

.picto-youtube {
  height: 35px;
  width : 35px;
}

.picto-facebook {
  height: 35px;
  width : 35px;
}

.picto-twitter {
  height: 35px;
  width : 35px;
}